@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root  {
        --background: 178.6 100% 95%;
        --foreground: 178.6 5% 10%;
        --card: 178.6 50% 90%;
        --card-foreground: 178.6 5% 15%;
        --popover: 178.6 100% 95%;
        --popover-foreground: 178.6 100% 10%;
        --primary: 178.6 84.3% 10%;
        --primary-foreground: 0 0% 100%;
        --secondary: 178.6 30% 70%;
        --secondary-foreground: 0 0% 0%;
        --muted: 140.6 30% 85%;
        --muted-foreground: 178.6 5% 35%;
        --accent: 140.6 30% 80%;
        --accent-foreground: 178.6 5% 15%;
        --destructive: 0 100% 30%;
        --destructive-foreground: 178.6 5% 90%;
        --border: 178.6 30% 50%;
        --input: 178.6 30% 26%;
        --ring: 178.6 84.3% 10%;
        --radius: 0.5rem;
    }
    .dark  {
        --background: 178.6 50% 10%;
        --foreground: 178.6 5% 90%;
        --card: 178.6 50% 10%;
        --card-foreground: 178.6 5% 90%;
        --popover: 178.6 50% 5%;
        --popover-foreground: 178.6 5% 90%;
        --primary: 178.6 84.3% 10%;
        --primary-foreground: 0 0% 100%;
        --secondary: 178.6 30% 20%;
        --secondary-foreground: 0 0% 100%;
        --muted: 140.6 30% 25%;
        --muted-foreground: 178.6 5% 60%;
        --accent: 140.6 30% 25%;
        --accent-foreground: 178.6 5% 90%;
        --destructive: 0 100% 30%;
        --destructive-foreground: 178.6 5% 90%;
        --border: 178.6 30% 26%;
        --input: 178.6 30% 26%;
        --ring: 178.6 84.3% 10%;
        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}