@layer base {
    :root  {
        --background: 178.6 100% 95%;
        --foreground: 178.6 5% 10%;
        --card: 178.6 50% 90%;
        --card-foreground: 178.6 5% 15%;
        --popover: 178.6 100% 95%;
        --popover-foreground: 178.6 100% 10%;
        --primary: 178.6 84.3% 10%;
        --primary-foreground: 0 0% 100%;
        --secondary: 178.6 30% 70%;
        --secondary-foreground: 0 0% 0%;
        --muted: 140.6 30% 85%;
        --muted-foreground: 178.6 5% 35%;
        --accent: 140.6 30% 80%;
        --accent-foreground: 178.6 5% 15%;
        --destructive: 0 100% 30%;
        --destructive-foreground: 178.6 5% 90%;
        --border: 178.6 30% 50%;
        --input: 178.6 30% 26%;
        --ring: 178.6 84.3% 10%;
        --radius: 0.5rem;
    }
    .dark  {
        --background: 178.6 50% 10%;
        --foreground: 178.6 5% 90%;
        --card: 178.6 50% 10%;
        --card-foreground: 178.6 5% 90%;
        --popover: 178.6 50% 5%;
        --popover-foreground: 178.6 5% 90%;
        --primary: 178.6 84.3% 10%;
        --primary-foreground: 0 0% 100%;
        --secondary: 178.6 30% 20%;
        --secondary-foreground: 0 0% 100%;
        --muted: 140.6 30% 25%;
        --muted-foreground: 178.6 5% 60%;
        --accent: 140.6 30% 25%;
        --accent-foreground: 178.6 5% 90%;
        --destructive: 0 100% 30%;
        --destructive-foreground: 178.6 5% 90%;
        --border: 178.6 30% 26%;
        --input: 178.6 30% 26%;
        --ring: 178.6 84.3% 10%;
        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

.iris {
    --gradient: #000C40;
    --background: 243 100% 98.26%;
    --foreground: 243 10% 0.52%;
    --muted: 243 10% 91.3%;
    --muted-foreground: 243 5% 41.3%;
    --popover: 243 10% 91.3%;
    --popover-foreground: 243 10% 0.65%;
    --card: 243 10% 91.3%;
    --card-foreground: 243 10% 0.65%;
    --border: 243 15% 89.52%;
    --input: 243 15% 89.52%;
    --primary: 243 100% 13%;
    --primary-foreground: 243 2% 91.3%;
    --secondary: 243 5% 95.65%;
    --secondary-foreground: 243 7% 11.3%;
    --accent: 243 5% 95.65%;
    --accent-foreground: 243 7% 11.3%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 243 100% 13%;
    --radius: 0.5rem;
}

.dark .iris {
    --gradient: #5433FF;
    --background: 265 65% 4.8%;
    --foreground: 265 10% 98%;
    --muted: 265 50% 18%;
    --muted-foreground: 265 10% 56%;
    --popover: 265 45% 7.8%;
    --popover-foreground: 265 10% 98%;
    --card: 265 45% 7.8%;
    --card-foreground: 265 10% 98%;
    --border: 265 50% 18%;
    --input: 265 50% 18%;
    --primary: 265 100% 60%;
    --primary-foreground: 265 10% 6%;
    --secondary: 265 50% 18%;
    --secondary-foreground: 265 10% 98%;
    --accent: 265 50% 18%;
    --accent-foreground: 265 10% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 265 10% 98%;
    --ring: 265 100% 60%;
}

.bubblegum {
    --gradient: #800080;
    --background: -64 100% 98.5%;
    --foreground: -64 10% 1%;
    --muted: -64 10% 92.5%;
    --muted-foreground: -64 5% 42.5%;
    --popover: -64 10% 92.5%;
    --popover-foreground: -64 10% 1.25%;
    --card: -64 10% 92.5%;
    --card-foreground: -64 10% 1.25%;
    --border: -64 15% 90%;
    --input: -64 15% 90%;
    --primary: -64 100% 25%;
    --primary-foreground: -64 2% 92.5%;
    --secondary: -64 5% 96.25%;
    --secondary-foreground: -64 7% 12.5%;
    --accent: -64 5% 96.25%;
    --accent-foreground: -64 7% 12.5%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: -64 100% 25%;
    --radius: 0.5rem;
}

.dark .bubblegum {
    --gradient: #9400D3;
    --background: 300 65% 3.36%;
    --foreground: 300 10% 97.1%;
    --muted: 300 50% 12.6%;
    --muted-foreground: 300 10% 54.2%;
    --popover: 300 45% 5.46%;
    --popover-foreground: 300 10% 97.1%;
    --card: 300 45% 5.46%;
    --card-foreground: 300 10% 97.1%;
    --border: 300 50% 12.6%;
    --input: 300 50% 12.6%;
    --primary: 300 100% 42%;
    --primary-foreground: 300 10% 97.1%;
    --secondary: 300 50% 12.6%;
    --secondary-foreground: 300 10% 97.1%;
    --accent: 300 50% 12.6%;
    --accent-foreground: 300 10% 97.1%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 300 10% 97.1%;
    --ring: 300 100% 42%;
}

.azure {
    --gradient: #05386b;
    --background: 223 99.55% 98.44%;
    --foreground: 223 9.1% 0.88%;
    --muted: 223 9.1% 92.2%;
    --muted-foreground: 223 4.55% 42.2%;
    --popover: 223 17.200000000000003% 92.2%;
    --popover-foreground: 223 9.1% 1.1%;
    --card: 223 17.200000000000003% 92.2%;
    --card-foreground: 223 9.1% 1.1%;
    --border: 223 14.1% 89.88%;
    --input: 223 14.1% 89.88%;
    --primary: 223 91% 22%;
    --primary-foreground: 223 1.82% 92.2%;
    --secondary: 223 4.55% 96.1%;
    --secondary-foreground: 223 6.46% 12.2%;
    --accent: 223 4.55% 96.1%;
    --accent-foreground: 223 6.46% 12.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 223 91% 22%;
    --radius: 0.5rem;
}

.dark .azure {
    --gradient: #1A2980;
    --background: 246 42.9% 2.4%;
    --foreground: 246 6.6000000000000005% 96.5%;
    --muted: 246 33% 9%;
    --muted-foreground: 246 6.6000000000000005% 53%;
    --popover: 246 51.8% 3.9%;
    --popover-foreground: 246 6.6000000000000005% 96.5%;
    --card: 246 51.8% 3.9%;
    --card-foreground: 246 6.6000000000000005% 96.5%;
    --border: 246 33% 9%;
    --input: 246 33% 9%;
    --primary: 246 66% 30%;
    --primary-foreground: 246 6.6000000000000005% 96.5%;
    --secondary: 246 33% 9%;
    --secondary-foreground: 246 6.6000000000000005% 96.5%;
    --accent: 246 33% 9%;
    --accent-foreground: 246 6.6000000000000005% 96.5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 246 6.6000000000000005% 96.5%;
    --ring: 246 66% 30%;
}

.crimson {
    --gradient: #780206;
    --background: -2 99.85% 98.48%;
    --foreground: -2 9.7% 0.96%;
    --muted: -2 9.7% 92.4%;
    --muted-foreground: -2 4.85% 42.4%;
    --popover: -2 12.400000000000006% 92.4%;
    --popover-foreground: -2 9.7% 1.2%;
    --card: -2 12.400000000000006% 92.4%;
    --card-foreground: -2 9.7% 1.2%;
    --border: -2 14.7% 89.96%;
    --input: -2 14.7% 89.96%;
    --primary: -2 97% 24%;
    --primary-foreground: -2 1.94% 92.4%;
    --secondary: -2 4.85% 96.2%;
    --secondary-foreground: -2 6.82% 12.4%;
    --accent: -2 4.85% 96.2%;
    --accent-foreground: -2 6.82% 12.4%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: -2 97% 24%;
    --radius: 0.5rem;
}

.dark .crimson {
    --gradient: #870000;
    --background: 0 65% 2.16%;
    --foreground: 0 10% 96.35%;
    --muted: 0 50% 8.100000000000001%;
    --muted-foreground: 0 10% 52.7%;
    --popover: 0 45% 3.5100000000000002%;
    --popover-foreground: 0 10% 96.35%;
    --card: 0 45% 3.5100000000000002%;
    --card-foreground: 0 10% 96.35%;
    --border: 0 50% 8.100000000000001%;
    --input: 0 50% 8.100000000000001%;
    --primary: 0 100% 27%;
    --primary-foreground: 0 10% 96.35%;
    --secondary: 0 50% 8.100000000000001%;
    --secondary-foreground: 0 10% 96.35%;
    --accent: 0 50% 8.100000000000001%;
    --accent-foreground: 0 10% 96.35%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 10% 96.35%;
    --ring: 0 100% 27%;
}
