@layer base {
    :root  {
        --background: 222 11% 95%;
        --foreground: 222 5% 10%;
        --card: 222 11% 90%;
        --card-foreground: 222 5% 14%;
        --popover: 222 11% 95%;
        --popover-foreground: 222 95% 10%;
        --primary: 222 8% 14%;
        --primary-foreground: 0 0% 100%;
        --secondary: 222 11% 70%;
        --secondary-foreground: 0 0% 0%;
        --muted: 184 11% 85%;
        --muted-foreground: 222 5% 35%;
        --accent: 184 11% 80%;
        --accent-foreground: 222 5% 14%;
        --destructive: 0 50% 30%;
        --destructive-foreground: 222 5% 90%;
        --border: 222 20% 50%;
        --input: 222 20% 18%;
        --ring: 222 8% 14%;
        --radius: 0.5rem;
    }
    .dark  {
        --background: 222 11% 10%;
        --foreground: 222 5% 90%;
        --card: 222 11% 10%;
        --card-foreground: 222 5% 90%;
        --popover: 222 11% 5%;
        --popover-foreground: 222 5% 90%;
        --primary: 222 8% 14%;
        --primary-foreground: 0 0% 100%;
        --secondary: 222 11% 14%;
        --secondary-foreground: 0 0% 100%;
        --muted: 184 11% 15%;
        --muted-foreground: 222 5% 60%;
        --accent: 184 11% 15%;
        --accent-foreground: 222 5% 90%;
        --destructive: 0 50% 30%;
        --destructive-foreground: 222 5% 90%;
        --border: 222 20% 18%;
        --input: 222 20% 18%;
        --ring: 222 8% 14%;
        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}


.iris {
  --background: 261.2 100% 95%;
  --foreground: 261.2 5% 10%;
  --card: 261.2 50% 90%;
  --card-foreground: 261.2 5% 15%;
  --popover: 261.2 100% 95%;
  --popover-foreground: 261.2 100% 10%;
  --primary: 261.2 72.6% 22.9%;
  --primary-foreground: 0 0% 100%;
  --secondary: 261.2 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 223.2 30% 85%;
  --muted-foreground: 261.2 5% 35%;
  --accent: 223.2 30% 80%;
  --accent-foreground: 261.2 5% 15%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 261.2 5% 90%;
  --border: 261.2 30% 50%;
  --input: 261.2 30% 26%;
  --ring: 261.2 72.6% 22.9%;
  --radius: 0.5rem;
}
.dark .iris {
  --background: 261.2 50% 10%;
  --foreground: 261.2 5% 90%;
  --card: 261.2 50% 10%;
  --card-foreground: 261.2 5% 90%;
  --popover: 261.2 50% 5%;
  --popover-foreground: 261.2 5% 90%;
  --primary: 261.2 72.6% 22.9%;
  --primary-foreground: 0 0% 100%;
  --secondary: 261.2 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 223.2 30% 25%;
  --muted-foreground: 261.2 5% 60%;
  --accent: 223.2 30% 25%;
  --accent-foreground: 261.2 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 261.2 5% 90%;
  --border: 261.2 30% 26%;
  --input: 261.2 30% 26%;
  --ring: 261.2 72.6% 22.9%;
  --radius: 0.5rem;
}

.bubblegum {
  --background: 318 100% 95%;
  --foreground: 318 5% 10%;
  --card: 318 50% 90%;
  --card-foreground: 318 5% 15%;
  --popover: 318 100% 95%;
  --popover-foreground: 318 100% 10%;
  --primary: 318 45% 27%;
  --primary-foreground: 0 0% 100%;
  --secondary: 318 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 280 30% 85%;
  --muted-foreground: 318 5% 35%;
  --accent: 280 30% 80%;
  --accent-foreground: 318 5% 15%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 318 5% 90%;
  --border: 318 30% 50%;
  --input: 318 30% 26%;
  --ring: 318 45% 27%;
  --radius: 0.5rem;
}
.dark .bubblegum {
  --background: 318 50% 10%;
  --foreground: 318 5% 90%;
  --card: 318 50% 10%;
  --card-foreground: 318 5% 90%;
  --popover: 318 50% 5%;
  --popover-foreground: 318 5% 90%;
  --primary: 318 45% 27%;
  --primary-foreground: 0 0% 100%;
  --secondary: 318 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 280 30% 25%;
  --muted-foreground: 318 5% 60%;
  --accent: 280 30% 25%;
  --accent-foreground: 318 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 318 5% 90%;
  --border: 318 30% 26%;
  --input: 318 30% 26%;
  --ring: 318 45% 27%;
  --radius: 0.5rem;
}

.azure {
  --background: 217 100% 95%;
  --foreground: 217 5% 10%;
  --card: 217 50% 90%;
  --card-foreground: 217 5% 15%;
  --popover: 217 100% 95%;
  --popover-foreground: 217 100% 10%;
  --primary: 217 45% 27%;
  --primary-foreground: 0 0% 100%;
  --secondary: 217 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 179 30% 85%;
  --muted-foreground: 217 5% 35%;
  --accent: 179 30% 80%;
  --accent-foreground: 217 5% 15%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 217 5% 90%;
  --border: 217 30% 50%;
  --input: 217 30% 26%;
  --ring: 217 45% 27%;
  --radius: 0.5rem;
 }
.dark .azure {
  --background: 217 50% 10%;
  --foreground: 217 5% 90%;
  --card: 217 50% 10%;
  --card-foreground: 217 5% 90%;
  --popover: 217 50% 5%;
  --popover-foreground: 217 5% 90%;
  --primary: 217 45% 27%;
  --primary-foreground: 0 0% 100%;
  --secondary: 217 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 179 30% 25%;
  --muted-foreground: 217 5% 60%;
  --accent: 179 30% 25%;
  --accent-foreground: 217 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 217 5% 90%;
  --border: 217 30% 26%;
  --input: 217 30% 26%;
  --ring: 217 45% 27%;
  --radius: 0.5rem;
 }

.crimson {
  --background: 360 100% 95%;
  --foreground: 360 5% 10%;
  --card: 360 50% 90%;
  --card-foreground: 360 5% 15%;
  --popover: 360 100% 95%;
  --popover-foreground: 360 100% 10%;
  --primary: 360 45% 27%;
  --primary-foreground: 0 0% 100%;
  --secondary: 360 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 322 30% 85%;
  --muted-foreground: 360 5% 35%;
  --accent: 322 30% 80%;
  --accent-foreground: 360 5% 15%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 360 5% 90%;
  --border: 360 30% 50%;
  --input: 360 30% 26%;
  --ring: 360 45% 27%;
  --radius: 0.5rem;
 }
.dark .crimson {
  --background: 360 50% 10%;
  --foreground: 360 5% 90%;
  --card: 360 50% 10%;
  --card-foreground: 360 5% 90%;
  --popover: 360 50% 5%;
  --popover-foreground: 360 5% 90%;
  --primary: 360 45% 27%;
  --primary-foreground: 0 0% 100%;
  --secondary: 360 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 322 30% 25%;
  --muted-foreground: 360 5% 60%;
  --accent: 322 30% 25%;
  --accent-foreground: 360 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 360 5% 90%;
  --border: 360 30% 26%;
  --input: 360 30% 26%;
  --ring: 360 45% 27%;
  --radius: 0.5rem;
 }

.mustard {
  --background: 40.6 100% 95%;
  --foreground: 40.6 5% 10%;
  --card: 40.6 50% 90%;
  --card-foreground: 40.6 5% 15%;
  --popover: 40.6 100% 95%;
  --popover-foreground: 40.6 100% 10%;
  --primary: 40.6 96.1% 40.4%;
  --primary-foreground: 0 0% 100%;
  --secondary: 40.6 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 2.6000000000000014 30% 85%;
  --muted-foreground: 40.6 5% 35%;
  --accent: 2.6000000000000014 30% 80%;
  --accent-foreground: 40.6 5% 15%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 40.6 5% 90%;
  --border: 40.6 30% 50%;
  --input: 40.6 30% 26%;
  --ring: 40.6 96.1% 40.4%;
  --radius: 0.5rem;
}
.dark .mustard {
  --background: 40.6 50% 10%;
  --foreground: 40.6 5% 90%;
  --card: 40.6 50% 10%;
  --card-foreground: 40.6 5% 90%;
  --popover: 40.6 50% 5%;
  --popover-foreground: 40.6 5% 90%;
  --primary: 40.6 96.1% 40.4%;
  --primary-foreground: 0 0% 100%;
  --secondary: 40.6 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 2.6000000000000014 30% 25%;
  --muted-foreground: 40.6 5% 60%;
  --accent: 2.6000000000000014 30% 25%;
  --accent-foreground: 40.6 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 40.6 5% 90%;
  --border: 40.6 30% 26%;
  --input: 40.6 30% 26%;
  --ring: 40.6 96.1% 40.4%;
  --radius: 0.5rem;
}

.emerald  {
    --background: 178.6 100% 95%;
    --foreground: 178.6 5% 10%;
    --card: 178.6 50% 90%;
    --card-foreground: 178.6 5% 15%;
    --popover: 178.6 100% 95%;
    --popover-foreground: 178.6 100% 10%;
    --primary: 178.6 84.3% 10%;
    --primary-foreground: 0 0% 100%;
    --secondary: 178.6 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 140.6 30% 85%;
    --muted-foreground: 178.6 5% 35%;
    --accent: 140.6 30% 80%;
    --accent-foreground: 178.6 5% 15%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 178.6 5% 90%;
    --border: 178.6 30% 50%;
    --input: 178.6 30% 26%;
    --ring: 178.6 84.3% 10%;
    --radius: 0.5rem;
}
.dark .emerald {
    --background: 178.6 50% 10%;
    --foreground: 178.6 5% 90%;
    --card: 178.6 50% 10%;
    --card-foreground: 178.6 5% 90%;
    --popover: 178.6 50% 5%;
    --popover-foreground: 178.6 5% 90%;
    --primary: 178.6 84.3% 10%;
    --primary-foreground: 0 0% 100%;
    --secondary: 178.6 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 140.6 30% 25%;
    --muted-foreground: 178.6 5% 60%;
    --accent: 140.6 30% 25%;
    --accent-foreground: 178.6 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 178.6 5% 90%;
    --border: 178.6 30% 26%;
    --input: 178.6 30% 26%;
    --ring: 178.6 84.3% 10%;
    --radius: 0.5rem;
}